{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
<script src="/static/js/search_ings.js"></script>
<script src="/static/js/quantity.js"></script>
<script src="/static/js/sort.js"></script>
<label id="filter" for="myInput"><h4 id="filter"><strong>Filter ingredients by name:</strong></h4></label>
<input class="form-control mx-auto w-50" type="text" id="myInput" onkeyup="myFunction()" placeholder="Enter ingredient's name...">
<table class="table table-striped table-dark lower" id="ingTable">
  <caption class="table caption-top">Your ingredients:</caption>
    <thead>
      <tr>
        <th scope="col">Ingredient</th>
        <th scope="col">Quantity</th>
        <th scope="col">Unit</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
        {% for item in items %}
      <tr>
        <td>{{ content_db[item]["name"] }}</td>
        <td>{{ content_db[item]["quantity"] }}</td>
        <td>{{ content_db[item]["unit"] }}</td>
        <td>
          <form action="/" method="post" id="form">
            <input type="hidden" id="ing_quant_{{ item }}" name="quantity">
            <input type="hidden" name="button_clicked" value="mod{{ fridge_db[item]['ingredient_id'] }}">
            <button class="btn btn-warning" type="submit" onclick="getQuantity('{{ item }}')">Edit</button>
          </form>
        </td>
        <td>
          <form action="/" method="post" onsubmit="return confirm('Ingredient will be deleted, do you wish to continue?');">
            <input type="hidden" name="button_clicked" value="del{{ fridge_db[item]['ingredient_id'] }}">
            <button  class="btn btn-danger" type="submit" >Delete</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="fixed">
    <form action="/add_ings">
      <button class="btn btn-primary corner" type="submit">Add ingredients</button>
    </form>
  </div>
{% endblock %}